@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-1: #e4e5f1;
    --color-2: #d2d3db;
    --color-3: #9394a5;
    --color-4: #484b6a;
    --bg-default : #e6e7ee;
    --text-default : #44476A;
    /* --light: #D1D9E6; */

    --dark-1: #7858A6;
    --dark-2: #5B4B8A;
    --dark-3: #4C3575;
    --dark-4: #371B58;
    /* --bg-dark: #7858A6; */
    --text-dark : #7858A6;

}

@font-face {
    font-family: Consolas;
    src: url(../assets/font/Consolas.ttf);
}
@font-face {
    font-family: Consolaz;
    src: url(../assets/font/consolaz.ttf);
}

@font-face {
    font-family: Consolai;
    src: url(../assets/font/consolai.ttf);
}

@font-face {
    font-family: Consola;
    src: url(../assets/font/CONSOLA.TTF);
}


body{
    font-family: "Consola", "Poppins";
    background: var(--color-1) !important;
    transition: all 500ms;
}

body section{
    background: var(--color-1) ;
    transition: all 500ms;
}

.dark-content{
    font-family: "Consola", "Poppins";
    background: var(--dark-4) !important;
    transition: all 500ms;
    dark: var(--color-1) !important;
}

.dark-content section{
    background: var(--dark-4);
    color: var(--color-1) !important;
    transition: all 500ms;
}




.btn-primary{
    background: var(--color-1);
    color: var(--text-default);
    border: 2px solid var(--color-4);
}

.btn-primary:hover{
    background: var(--dark-2);
    color: var(--color-1);
    border: 2px solid var(--dark-2);
    transition: all 500ms;
}

.dark-content .btn-primary{
    background: var(--color-1);
    color: var(--text-dark);
    border: 2px solid var(--color-1);
}

.dark-content .btn-primary:hover{
    background: var(--color-3);
    color: var(--color-1);
    border: 2px solid var(--color-3);
    transition: all 500ms;
}